<i class="tradegecko-ui-alert-box__icon fa fa-{{iconName}}"></i>

<div class="tradegecko-ui-alert-box__content">
  {{#if title}}
    <h4 class="tradegecko-ui-alert-box__title">{{title}}</h4>
  {{/if}}
  {{#if message}}
    <p class="tradegecko-ui-alert-box__message">
      {{message}}
    </p>
  {{else}}
    {{! Named blocks hack - https://stackoverflow.com/a/30107261/1777699}}
    {{! Will be replaced with https://github.com/emberjs/rfcs/pull/226}}
    {{yield "message-block"}}
  {{/if}}

  <div class="tradegecko-ui-alert-box__action">
    {{yield "cta-block"}}
  </div>
</div>

{{#if dismissable}}
  <i class="tradegecko-ui-alert-box__close fa fa-times" role="button" {{action "dismiss"}}></i>
{{/if}}
