{{yield (hash itemSummary=true)}}
<div class="tradegecko-ui-quantity-input-modal__content">
  <div class="tradegecko-ui-quantity-input-modal__label">{{inputLabel}}</div>
  <input
    class="tradegecko-ui-quantity-input-modal__input"
    type="number"
    inputmode="numeric"
    pattern="[0-9]*"
    placeholder={{inputPlaceholder}}
    value={{inputValue}}
    oninput={{action (mut inputValue) value="target.value"}}
    min=0
    max={{maxQuantity}}
  >
  <div class="tradegecko-ui-quantity-input-modal__input-hint">
    {{pendingQuantity}} {{inputHint}}
  </div>
  <div class="flex-space"></div>
  {{tradegecko-ui-button
    class="tradegecko-ui-quantity-input-modal__primary-button"
    label=primaryButtonLabel
    onClick=(action "handleSave")
  }}
  {{tradegecko-ui-button
    buttonType="naked"
    class="tradegecko-ui-quantity-input-modal__secondary-button"
    label=secondaryButtonLabel
    onClick=(action hideModal)
  }}
</div>
