<div class="tradegecko-ui-scanner-increment-modal__label">{{inputLabel}}</div>
<input
  class="tradegecko-ui-scanner-increment-modal__input"
  type="number"
  inputmode="numeric"
  pattern="[0-9]*"
  value={{inputValue}}
  oninput={{action (mut inputValue) value="target.value"}}
  min=0
>
<div class="flex-space"></div>
{{tradegecko-ui-button
  class="tradegecko-ui-scanner-increment-modal__primary-button"
  label=primaryButtonLabel
  onClick=(action "handleSave")
}}
<button onclick={{action hideModal}} class="tradegecko-ui-scanner-increment-modal__secondary-button">
  {{secondaryButtonLabel}}
</button>
