<div class="summary-line-item">
  <div class="summary-line-item__image-container">
    <img
      alt={{@imageAltText}}
      class="summary-line-item__image"
      src={{@imageThumbnailURL}}
    >
  </div>
  <div class="summary-line-item__info">
    <div class="summary-line-item__name">{{@name}}</div>
    <div class="summary-line-item__sku">SKU {{@sku}}</div>
    <div class="summary-line-item__quantity-row">
      <div class="summary-line-item__quantity-label">{{@quantityLabel}}</div>
      <div class="summary-line-item__quantity">{{@quantity}}</div>
    </div>
  </div>
</div>
