{{#docs-viewer as |viewer|}}
  {{#viewer.nav as |nav|}}
    {{nav.section 'Components'}}
    {{nav.item "Buttons" "docs.components.buttons"}}
    {{nav.item "Alert Boxes" "docs.components.alertBox"}}
    {{nav.item "Checkbox" "docs.components.checkBox"}}
    {{nav.item "Details Block" "docs.components.detailsBlock"}}
    {{nav.item "Empty List" "docs.components.emptyList"}}
    {{nav.item "Freeform Line Item" "docs.components.freeformLineItem"}}
    {{nav.item "Loading State Placeholder" "docs.components.loadingStatePlaceholder"}}
    {{nav.item "Nav Tabs" "docs.components.navTabs"}}
    {{nav.item "Progress Bar" "docs.components.progressBar"}}
    {{nav.item "Quantity Input Modal" "docs.components.quantityInputModal"}}
    {{nav.item "Scanner Increment Modal" "docs.components.scannerIncrementModal"}}
    {{nav.item "Site Header" "docs.components.siteHeader"}}
    {{nav.item "Status Tag" "docs.components.statusTag"}}
    {{nav.item "Summary Line Item" "docs.components.summeryLineItem"}}
  {{/viewer.nav}}
   {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}
{{/docs-viewer}}
